<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.central.user.dao.PermissionMapper">
    <select id="permissionBinds" resultType="java.lang.Integer">
        select count(1) from sys_permission sp
        left JOIN sys_role_permission srp
        on srp.permission_id = sp.id
        where sp.id=#{pid} or sp.pid=#{pid}
    </select>


</mapper>